*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!src/
!src/**
!rom/
!rom/**

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.yaml
!*.yml
!*.toml
!*.rs
!*.ch8
